footer.footer
  .container
    .row.align-items-center
      .col-12.col-md-5.mb-3.mb-md-0
        .footer-brand
          a(href="/") Music App
          p Khám phá chủ đề và bài hát nổi bật mỗi ngày.

      .col-12.col-md-4.mb-3.mb-md-0
        .footer-links
          a(href="/") Trang chủ
          a(href="/topics") Chủ đề
          a(href="/songs") Bài hát

      .col-12.col-md-3
        .footer-social
          a(href="#")
            i(class="fa-brands fa-facebook-f")
          a(href="#")
            i(class="fa-brands fa-youtube")
          a(href="#")
            i(class="fa-brands fa-tiktok")
