header.header
  .container
    .row.align-items-center
      .col-12.col-md-4
        .inner-logo
          a(href="/")
            span.logo-mark M
            span.logo-text Music App

      .col-12.col-md-8
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li
              a(href="/topics") Chủ đề
            li
              a(href="/favorite-songs") <i class="fa-solid fa-heart"></i> Yêu thích 

