header.header
  .container
    .row.align-items-center
      .col-12.col-lg-3
        .inner-logo
          a(href="/")
            span.logo-mark M
            span.logo-text Music App

      .col-12.col-lg-5
        .box-search
          form(action="/search/result" method="GET")
            .form-group.d-flex.mb-0
              input.form-control(
                type="text"
                placeholder="Nhap tu khoa..."
                name="keyword"
                value=keyword || ""
              )
              button.btn.btn-primary(type="submit") Tim

      .col-12.col-lg-4
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li
              a(href="/topics") Chủ đề
            li
              a(href="/favorite-songs") <i class="fa-solid fa-heart"></i> Yêu thích 
